<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>this is my fist page</title>-->
<!--</head>-->
<!--<body>-->
<!--<p>this is my page with variable {{bool_item}} </p>-->
<!--{% if bool_item == True %}-->
<!--Random number is {{ num }}-->
<!--{% endif %}-->
<!--<p>To keep things nice and simple, we’re going to be using Slack’s Web API.-->
<!--    This means that all we need to be able to write to a Slack channel is make HTTP POST requests.</p>-->
<!--<p>-->
<!--{% for items in some_list %}-->
<!--    {% if items|divisibleby:"2" %}-->
<!--        Even number-->
<!--    {% else %}-->
<!--        Odd number-->
<!--    {% endif %}-->
<!--    {{ items }}<br/>-->
<!--{% endfor %}-->
<!--</p>-->
<!--<p> the number is {{ items }} </p>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<head>
    <title>{% block head_title %}MuyPicky{% endblock head_title %}</title>
</head>
<body>
{% include "snippets/nav.html" %}
<div class="container">
{% block content %}
    this is inherited from base.html
{% endblock content %}
</div>
</body>
</html>
